body {
  font-family: Arial, sans-serif;
}

a{
  text-decoration: none;
  color: cadetblue;
}

a:hover{
  color: red;
}

a:active{
  background: green;
}

a:focus{
  background: yellow;
}

a:visited{
  color: coral;
}