* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}


.container {
  background: black;
  width: 1000px;
  height: 200px;
  display: flex;
}

.iteam {
  height: 200px;
  width: calc(500px - 400px);
  background: coral;
}